

#puzzle figure {
width:636px;
height:609px;
border:2px solid #000;
position:relative;
float:left;
background-color:#fff;
}

#ui { padding:10px 0 0 10px; float:left; }
#ui button { margin-bottom: 2em; }
#ui p { font-size:1.7em; }
#start { width:204px; height:50px; font-size:1.75em; }
